* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to right, #1e90ff, #4b6cb7);
  padding: 40px;
}

.container {
  background: #f5f7fa;
  padding: 30px;
  border-radius: 20px;
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.header button {
  background: white;
  color: #4b6cb7;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.title {
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 25px;
  color: gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}

.content {
  padding: 15px;
}

.content h3 {
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: gray;
}
.card {
  cursor: pointer;
}

.backBtn {
  background: #4b6cb7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.details img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.meta {
  color: gray;
  margin-bottom: 15px;
}