body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  height: 150px;
  object-fit: contain;
  width: 100%;
}

.details {
  padding: 40px;
  text-align: center;
}

.details img {
  height: 250px;
  object-fit: contain;
}